{% extends 'base.html' %}

{% block body_block %}

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-bar-chart-o fa-fw"></i>
                Champion Damage Distribution Chart
            </div>
            {{ champion_damage|safe }}
        </div>
        </div>
    <div class="col-lg-4">
        <div class="panel panel-default">

            <div class="panel-heading"><i class="fa fa-bar-chart-o fa-fw"></i>
                Champion Winrate by map
            </div>
            {{ game_mode_winrate|safe }}
        </div>
    </div>

{% endblock %}