<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ player_name }}'s Match History</h1>
    </div>
    <!-- /.col-lg-12 -->

</div>
<div class="col-lg-8" style="position: relative;" id="game_details_table">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        Please Select a match to view Detailed stats about that Match
    </div>
</div>
<div class="col-lg-4">
    <table class="table table-bordered table-responsive">
        <thead>
        <tr>
            <th data-field="playerChampion" data-align="left">Champion</th>
            <th data-field="matchMode" data-radio="true">Match Mode</th>
            <th data-field='matchDuration' data-align="right">Match Duration</th>
            <th data-field="matchCreation" data-align="left">Mate Date</th>
        </tr>
        </thead>
        {% for match in  match_json.matches reversed %}
            <tr data-match="{{ match.matchId }}" class={% for stat in match.participants %}
                {% ifequal stat.stats.winner True %}
                    "btn-success game-row"
                {% else %}
                    "btn-danger game-row"
                {% endifequal %}
                >{% endfor %}
            <td>
                {% for stat in match.participants %}
                    {% for champ in champ_list %}
                        {% ifequal champ.id stat.championId %}
                            <img src="http://ddragon.leagueoflegends.com/cdn/5.7.1/img/champion/{{ champ.image }}"
                                 style="height: 2em;"/> {{ champ.name }}
                        {% endifequal %}
                    {% endfor %}
                {% endfor %}
            </td>
            <td>
                {{ match.matchMode }}
            </td>
            <td>
                {% widthratio match.matchDuration 60 1 %} minutes
            </td>
            <td>
                {{ match.matchCreation }}
            </td>
            </tr>

        {% endfor %}
    </table>
</div>
<script>
    $('.bs-champion-page-load-modal').modal('hide');

    $('.game-row').click(function () {
        console.log("clicked");
        var match = $(this).data('match');
        console.log(match);
        $.get('/armory/match_specific_data/', {match: match}, function (data) {
            var $target = $('#game_details_table');
            $target.html(data);
        });
    });
</script>